<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwkj.ceng.mapper.UserMapper">

    <select id="selectAllUsers" resultType="com.zwkj.ceng.entity.User">
		select * from user ;
	</select>


<!--    <select id="selectTest" parameterType="int" resultMap="detailedBlogResultMap">-->
<!--	select  U.id as user_id , U.name as user_name ,T.id as test_id ,T.name-->
<!--	from user U-->
<!--	LEFT  join  test T where T.userid=#{id};-->
<!--	</select>-->
    <!--	<select id="selectUserById" parameterType="int" resultType="com.zwkj.ceng.entity.User">-->
    <!--		select * from user where #{id};-->
    <!--	</select>-->

    <!--	<insert id="insertUser"-->
    <!--		parameterType="com.zwkj.ceng.entity.User" useGeneratedKeys="true"-->
    <!--		keyProperty="id">-->
    <!--		insert into-->
    <!--		user(id,name)-->
    <!--		values(#{id},#{name});-->
    <!--	</insert>-->
</mapper>